@media screen and (max-width: 767px) {
    .product-grid {
        grid-area: grid;

        width: 100%;
        display: grid;
        grid-template-columns: max-content;
        grid-auto-rows: max-content;
        justify-content: center;
        grid-row-gap: m-get-vw(16px);
        
        .loading {
            grid-column: span 1; 
            height: 100vw;
            position: relative;
        }
    }
}