@import 'assets/scss/index.scss'; 

#modal {
    width: 100vw;
    height: var(--vh, 100vh);
    left: 0; top: 0;

    position: fixed;

    background-color: rgba( $black, .95 );
    will-change: background-color;
    overflow: hidden auto;
    z-index: 10;
    transform: translate3d(0,0,0);

    --uiColorModal: white;
    transition: 200ms;
}

#modal-content {
    //height: var(--vh, 100vh);
    transition: 200ms;
    will-change: transform;
}

@import './styles/modal-pc.scss';
@import './styles/modal-tablet.scss';
@import './styles/modal-mobile.scss';
