$pc-screen: 'screen and (min-width: 1024px)';
$tablet-screen: 'screen and (min-width: 768px) and (max-width: 1023.75px)';
$mobile-screen: 'screen and (max-width: 767.75px)';
$black: #26292D;
$green: #006b54;
