@media screen and ( min-width: 1024px ) {
    #modal-close {
        @include button-small;
        @include button-picture( rgba($black, .5), '~/assets/images/icon_cross.svg' );
        width: get-vw(34px);
        height: get-vw(34px);
    
        border: none;
        background-color: white;
        box-shadow: 0 0 get-vw(10px) rgba( $black, .1 );
    }
}