@media screen and ( min-width: 768px ) and ( max-width: 1023px ) {
    #modal-close {
        @include t-button-small;
        @include t-button-picture( rgba($black, .5), 'assets/images/icon_cross.svg', $size: 'small' );
        min-width: unset;
        width: t-get-vw(28px);
        height: t-get-vw(28px);
    
        border: none;
        background-color: white;
        @include shadow;
    }
}