@media screen and (min-width: 768px) and (max-width: 1023px) {
    .catalog {
        min-height: 100vh;
        min-height: 200vh;

        display: grid;
        grid-template-areas: 
        'controls filters'
        'grid filters';
        grid-template-columns: t-get-vw(564px) 1fr;
        grid-template-rows: max-content;

        background-color: white;
    }

    .product-grid_controls {
        top: 0;
        position: sticky;
        z-index: 2;

        background-color: rgba(white, .0);
    }

    .product-filters-wrapper {
        grid-area: filters;

        top: var(--offset);

        height: max-content;
        padding: t-get-vw(16px) 0;
        position: sticky;
    }
}