@media screen and ( min-width: 1024px ) {
    .post-content {
        width: 100%;
        max-width: get-vw(522px);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        p { @include proxima-regular( get-vw(16px), get-vw(18px) ); }

        a, button {
            margin-top: get-vw(20px);
            @include button-big;
            width: get-vw(256px);
        }
    }
}