@media screen and (min-width: 1024px) {
    .product-grid_controls {
        grid-area: controls;

        width: 100%;
        height: max-content;
        padding: 
        get-vw(10px) get-vw(40px) 
        get-vw(20px) get-vw(40px);
        display: flex;
        justify-content: space-between;
        background-color: white;
    
        &_sorting,
        &_view {
    
            h3 {
                padding-left: get-vw(12px);;
                @include proxima-semibold(get-vw(16px));
                color: rgba($black, .25);
            }
            
            &_buttons {
                margin-top: get-vw(4px);
                padding: get-vw(12px);
                display: grid;
                grid-auto-flow: column;
                grid-column-gap: get-vw(12px);
                border-radius: get-vw(28px);
                background-color: rgba($black, .05);
            }
    
            button {
                @include button-big;
            }
        }
    
        &_view {
            button:nth-child(1) {
                @include button-picture($black, '~/assets/images/pc_icon_grid.svg', '~/assets/images/pc_icon_grid.svg', 'big');
            }
    
            button:nth-child(2) {
                @include button-picture($black, '~/assets/images/pc_icon_list.svg', '~/assets/images/pc_icon_list.svg', 'big');
            }
        }
    }
}

