@import 'assets/scss/index.scss';

#header { 
    z-index: 20; 
    transition: 200ms;

    &_logo, button { cursor: pointer; }
}

#header.focus { background-color: white; }

#header.background { z-index: 5; }

// .app-header_logo,
// .app-header_categories,
// .app-header_search,
// .app-header_info,
// .app-header_favourite,
// .app-header_cart,
// .app-header_account,
// .app-header_more {
//     opacity: .5;

//     &:hover { opacity: 1; }
// }

@import './styles/header-pc.scss';
@import './styles/header-tablet.scss';
@import './styles/header-mobile.scss';