@media screen and ( min-width: 1024px ) {
    .categories-block {
        min-width: get-vw(343px);
        width: max-content;
        padding: get-vw(12px);

        background-color: white;
        border-radius: get-vw(28px);
        border: get-vw(1px) rgba( $black, .1 ) solid;

        &_header {
            width: 100%;
            height: get-vw(48px);
            
            background-color: white;
            border-radius: get-vw(16px);
            box-shadow: 0 0 get-vw(10px) rgba( $black, .1 );

            z-index: 3;

            h3 { 
                width: 100%;
                padding: 0 get-vw(18px);
                @include proxima-bold( get-vw(18px), get-vw(48px) );
                text-align: left;
            }
        }

        &_link {
            width: 100%;
            height: get-vw(48px);

            a {
                padding: 0 get-vw(18px);

                display: block;

                @include proxima-semibold( get-vw(18px), get-vw(48px) );
                color: rgba( $black, .8 );
                text-decoration: underline;
                text-align: left;
            }
        }

        ul {
            margin-top: get-vw(12px);

            display: grid;
            grid-auto-rows: max-content;

            li { 
                @include button-big;
                width: 100%;

                box-shadow: none;
                color: rgba( $black, .6 );

                cursor: pointer;
                span { 
                    padding: 0 get-vw(18px);
                    text-align: left; 
                }

                &::before {
                    width: get-vw(12px);
                    height: get-vw(12px);
                    right: get-vw(12px);
                    top: 0; bottom: 0;
                    margin: auto;
                    position: absolute;
            
                    mask-image: url('assets/images/slider_arrow.svg');
                    transform: scaleX(-1);
                    background-color: $black;
                    opacity: 0;

                    content: '';
                }
            }

            
            li.active,
            li:hover { 
                position: relative;

                background-color: rgba( $black, .1 );
                color: $black;

                &::before { opacity: 1; }
            }
        }

        ul:hover {
            li:not( :hover ) {
                background-color: rgba( $black, 0);
                &::before { opacity: 0; }
            }
        }
    }
}