@media screen and (min-width: 1024px) {
    .tabs {
        display: flex;
        flex-direction: column;
    
        &_controls {
            flex: 0 0 auto;
    
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: max-content;
            grid-column-gap: get-vw(12px);
    
            button {
                @include button-big;
                color: rgba( $black, .5 );
            }
    
            button.active {
                background-color: rgba( $black, .05 );
                color: $black;
                box-shadow: none;
            }
        }
    
        &_content {
            flex: 1 0 auto;
    
            width: 100%;
            margin-top: get-vw(18px);
        }
    }
}