@media screen and (max-width: 767px) {
    .post-header {
        width: 100%;
        height: max-content;
        min-height: m-get-vw(42px);

        display: flex;

        background-color: white;
        border-radius: m-get-vw(12px);
        box-shadow: 0 0 m-get-vw(10px) rgba($black, .1);

        &_title {
            flex: 1 0;

            padding: m-get-vw(12px) m-get-vw(10px) m-get-vw(10px) m-get-vw(10px);
            @include proxima-bold(m-get-vw(16px), m-get-vw(20px));
        }

        &_share {
            width: max-content;
            height: m-get-vw(26px);
            padding: 0 m-get-vw(6px);
            margin: m-get-vw(8px);

            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: m-get-vw(18px);
            
            background-color: white;
            box-shadow: 0 0 m-get-vw(10px) rgba($black, .1);
            border-radius: m-get-vw(8px);
        
            &_vk,
            &_fb,
            &_fav {
                background-color: rgba($black, .25);
                cursor: pointer;
            }
        
            &_vk { mask-image: url('assets/images/icon_vk.svg'); }
            &_fb { mask-image: url('assets/images/icon_fb.svg'); }
            &_fav { mask-image: url('assets/images/icon_fav.svg'); }
        }
    }
}