@media screen and (min-width: 768px) and (max-width: 1023px) {
    .post-header {
        width: 100%;
        height: max-content;
        min-height: t-get-vw(40px);

        display: flex;

        background-color: white;
        border-radius: t-get-vw(12px);
        box-shadow: 0 0 t-get-vw(10px) rgba($black, .1);

        &_title {
            flex: 1 0;

            padding: t-get-vw(10px) t-get-vw(6px) t-get-vw(6px) t-get-vw(10px);
            @include proxima-bold( t-get-vw(18px), t-get-vw(20px));
        }

        &_share {
            width: max-content;
            height: t-get-vw(28px);
            padding: 0 t-get-vw(6px);
            margin: t-get-vw(6px);

            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: t-get-vw(20px);
            
            background-color: white;
            box-shadow: 0 0 t-get-vw(10px) rgba($black, .1);
            border-radius: t-get-vw(8px);
        
            &_vk,
            &_fb {
                background-color: rgba($black, .25);
                cursor: pointer;
            }
        
            &_vk { mask-image: url('assets/images/icon_vk.svg'); }
            &_fb { mask-image: url('assets/images/icon_fb.svg'); }
        }

        #modal-close {
            margin-top: t-get-vw(6px);
            margin-right: t-get-vw(6px);
        }
    }
}
