@media screen and (max-width: 767.5px) {
    .banner {
        width: 100vw;
        padding: m-get-vw(64px) m-get-vw(16px) m-get-vw(16px) m-get-vw(16px);

        position: relative;
        display: grid;
        grid-template-areas: 
        'title'
        'breadcrumbs'
        'slider'
        'post'
        'preview';
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-content) m-get-vw(245px + 16px) max-content;
    }

    .banner-title {
        grid-area: title;
        @include proxima-bold( m-get-vw(26px), m-get-vw(28px) );
        padding-left: m-get-vw(8px);
    }

    .breadcrumbs,
    .banner-search-phrase {
        grid-area: breadcrumbs;
        padding-left: m-get-vw(8px);
    }

    .banner-post {
        grid-area: post;
        margin-top: m-get-vw(16px);
    }

    .banner-posts-preview {
        margin-top: m-get-vw(-64px);
        grid-area: preview;
        justify-self: flex-end;    
    }

    #banner-slider {
        grid-area: slider;

        width: m-get-vw(343px);
        margin-top: m-get-vw(16px);
        margin-left: m-get-vw(-16px);
        --slideWidth: #{m-get-vw(343px)};
        --slideGap: #{m-get-vw(32px)};

        .slide {
            width: var(--slideWidth);
            height: m-get-vw(245px);
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;

            border-radius: m-get-vw(20px);
        }
    }
}