@media screen and ( max-width: 767px ) {
    .feed-grid {
        min-height: 40vh;

        padding: 0 m-get-vw(8px) m-get-vw(8px) m-get-vw(8px);
        display: flex;
        &_column { flex: 1 0 m-get-vw(164px); }
    }

    .feed-grid_empty {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;

        @include proxima-semibold(m-get-vw(16px));
    }
}