@media screen and ( min-width: 768px ) and ( max-width: 1023px ) {
    .feed-grid {
        min-height: 40vh;

        padding: 0 t-get-vw(12px) t-get-vw(12px) t-get-vw(12px);
        display: flex;
        &_column { flex: 1 0 t-get-vw(270px); }
    }

    .feed-grid_empty {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;

        @include proxima-semibold(t-get-vw(20px));
    }
}