@media screen and (min-width: 768px) and (max-width: 1023.5px) {
    .banner-post {
        max-width: t-get-vw(520px);
        height: 100%;
        max-height: t-get-vw(218px);

        display: grid;
        grid-template-rows: max-content 1fr t-get-vw(72px);
        align-items: center;

        h3 { @include proxima-bold( t-get-vw(22px) ); }

        p {
            padding-top: t-get-vw(8px);
            height: 100%;
            overflow: hidden;
            @include proxima-regular( t-get-vw(14px), t-get-vw(16px) );
        }

        a {
            @include t-button-big;
            width: t-get-vw(202px);
            justify-self: center;
        }
    }
}