@media screen and (min-width: 1024px) {
    .banner-post {
        max-width: get-vw(520px);
        height: 100%;

        display: grid;
        grid-template-rows: max-content 1fr get-vw(70px);
        align-items: center;
        justify-content: center;

        h3 { @include proxima-bold( get-vw(48px) ); }

        p {
            padding-top: get-vw(10px);
            height: 100%;
            @include proxima-regular( get-vw(18px), get-vw(20px) );
            overflow: hidden;
        }

        a {
            @include button-big;
            width: get-vw(256px);
            justify-self: center;
        }
    }
}