@media screen and (max-width: 767px) {
    .suggested {
        height: max-content;
        max-width: m-get-vw(315px);

        background-color: white;
        border-radius: t-get-vw(22px);

        h3 { 
            width: 100%;
            padding-left: m-get-vw(6px);
            @include proxima-bold(m-get-vw(16px));
            opacity: .5; 
        }

        .scrollable-wrapper { margin-top: m-get-vw(8px); }

        --scrollablePadding: #{ m-get-vw(6px) };
        --scrollableGap: #{ m-get-vw(6px) };
    }
}