@media screen and (min-width: 1024px) {
    .product-header {
        width: 100%;
        height: max-content;
        min-height: get-vw(48px);

        display: flex;

        background-color: white;
        border-radius: get-vw(16px);
        box-shadow: 0 0 get-vw(10px) rgba($black, .1);

        &_title {
            flex: 1 0;

            padding: get-vw(14px) get-vw(12px) get-vw(12px) get-vw(12px);
            @include proxima-bold(get-vw(22px));
        }

        .product-share { margin: get-vw(7px); }

        #modal-close {
            margin-top: get-vw(7px);
            margin-right: get-vw(7px);
        }
    }
}

