@media screen and ( min-width: 768px ) and ( max-width: 1023.5px ) {
    .app-header {
        height: t-get-vw(48px);
        padding: t-get-vw(8px);
        top: t-get-vw(10px);
        left: t-get-vw(10px); 
        right: t-get-vw(10px);

        position: fixed;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: repeat(3, max-content) 1fr repeat(4, max-content);
        grid-template-areas: 'logo cats search . info favs cart account';
        grid-column-gap: t-get-vw(8px);

        background-color: rgba( white, .95);
        border-radius: t-get-vw(18px);

        &_logo {
            grid-area: logo;
            width: t-get-vw(38px);
            height: t-get-vw(32px);
            border-radius: t-get-vw(10px);
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
            }
        }

        &_categories {
            grid-area: cats;
            width: max-content;
            height: t-get-vw(32px);
            padding: 0 t-get-vw(14px);

            span {
                display: flex;
                align-items: center;
                @include proxima-semibold( t-get-vw(16px), t-get-vw(32px) );
            }

            span::before {
                width: t-get-vw(18px);
                height: t-get-vw(18px);
                margin-left: t-get-vw(-7px);
                margin-right: t-get-vw(7px);

                display: inline-block;
                mask-image: url('assets/images/icon_menu.svg');
                mask-size: 100% auto;
                background-color: rgba( $black, 1);
                content: '';
            }

            background-color: #E9E9E9;
            border-radius: t-get-vw(10px);
        }

        &_search {
            grid-area: search;
            position: relative;

            .search {
                position: absolute;
                left: t-get-vw(-8px);
                top: t-get-vw(-8px);
            }
        }

        &_info {
            grid-area: info;
            width: max-content;
            height: t-get-vw(32px);
            padding: 0 t-get-vw(14px);
            background-color: #E9E9E9;
            border-radius: t-get-vw(10px);

            span {
                display: flex;
                align-items: center;
                @include proxima-semibold( t-get-vw(16px), t-get-vw(32px) );
            }

            span::before {
                width: t-get-vw(20px);
                height: t-get-vw(20px);
                margin-left: t-get-vw(-7px);
                margin-right: t-get-vw(4px);

                display: inline-block;
                mask-image: url('assets/images/icon_info.svg');
                mask-size: 100% auto;
                background-color: rgba( $black, 1);
                content: '';
            }
        }

        &_favourite,
        &_cart,
        &_account {
            @include button-medium;
            width: t-get-vw(32px);
            height: t-get-vw(32px);
            background-color: #E9E9E9;
            border-radius: t-get-vw(10px);
        }

        &_favourite { 
            grid-area: favs; 
            @include t-button-picture( 
                rgba( $black, .4 ), 
                'assets/images/icon_fav.svg', 
                $size: 'big',
                $active_color: #F8512A,
                $hover: true
            );
        }

        &_cart { 
            grid-area: cart; 
            @include t-button-picture( 
                rgba( $black, .4 ), 
                'assets/images/icon_cart.svg', 
                $size: 'big',
                $active_color: #4A8BF7,
                $hover: true
            );
        }

        &_account { 
            grid-area: account; 
            @include t-button-picture( 
                rgba( $black, .4 ), 
                'assets/images/icon_user.svg', 
                $size: 'big',
                $active_color: #B544F9,
                $hover: true
            );
        }
    }
}