@media screen and ( min-width: 1024px ) {
    .app-header {
        height: get-vw(58px);
        padding: get-vw(8px);
        top: get-vw(20px);
        left: get-vw(20px); 
        right: get-vw(20px);

        position: fixed;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: repeat(3, max-content) 1fr repeat(4, max-content);
        grid-template-areas: 'logo cats search . info favs cart account';
        grid-column-gap: get-vw(8px);

        background-color: rgba( white, .95 );

        border-radius: get-vw(18px);

        & > button {
            box-shadow: 0 0 get-vw(10px) rgba( $black, .1 );
        }

        &_logo {
            grid-area: logo;
            width: get-vw(50px);
            height: get-vw(42px);
            overflow: hidden;

            border-radius: get-vw(12px);
            img {
                width: 100%;
                height: auto;
            }
        }

        &_categories {
            grid-area: cats;
            width: max-content;
            height: get-vw(42px);
            padding: 0 get-vw(14px);

            span {
                display: flex;
                align-items: center;
                @include proxima-semibold( get-vw(18px), get-vw(42px) );
            }

            span::before {
                width: get-vw(24px);
                height: get-vw(42px);
                margin-left: get-vw(-6px);
                margin-right: get-vw(6px);

                display: inline-block;
                mask-image: url('~/assets/images/icon_menu.svg');
                mask-size: 100% auto;
                background-color: rgba( $black, 1);
                content: '';
            }

            background-color: #E9E9E9;
            border-radius: get-vw(12px);
        }

        &_search {
            grid-area: search;
            position: relative;

            .search {
                margin-left: get-vw(-8px);
                margin-top: get-vw(-8px);
            }
        }

        &_info {
            grid-area: info;
            width: get-vw(100px);
            height: get-vw(42px);
            padding: 0 get-vw(14px);

            background-color: #E9E9E9;
            border-radius: get-vw(12px);

            span {
                display: flex;
                align-items: center;
                @include proxima-semibold( get-vw(18px), get-vw(42px) );
            }

            span::before {
                width: get-vw(24px);
                height: get-vw(42px);
                margin-left: get-vw(-6px);
                margin-right: get-vw(6px);

                display: inline-block;
                mask-image: url('~/assets/images/icon_info.svg');
                mask-size: 100% auto;
                background-color: rgba( $black, 1);
                content: '';
            }
        }
        &_favourite,
        &_cart,
        &_account {
            @include button-medium;
            width: get-vw(42px);
            height: get-vw(42px);
            background-color: #E9E9E9;
            border-radius: get-vw(12px);
        }

        &_favourite { 
            grid-area: favs; 
            @include button-picture( 
                rgba( $black, .4 ), 
                '~/assets/images/icon_fav.svg', 
                $size: 'big',
                $active_color: #F8512A,
                $hover: true
            );
        }

        &_cart { 
            grid-area: cart; 
            @include button-picture( 
                rgba( $black, .4 ), 
                '~/assets/images/icon_cart.svg', 
                $size: 'big',
                $active_color: #4A8BF7,
                $hover: true
            );
        }

        &_account { 
            grid-area: account; 
            @include button-picture( 
                rgba( $black, .4 ), 
                '~/assets/images/icon_user.svg', 
                $size: 'big',
                $active_color: #B544F9,
                $hover: true
            );
        }
    }
}