@media screen and ( min-width: 1024px ) {
    .app-header {
        height: get-vw(58px);
        padding: get-vw(8px);
        top: get-vw(20px);
        left: get-vw(20px); 
        right: get-vw(20px);

        position: fixed;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: repeat(3, max-content) 1fr repeat(4, max-content);
        grid-template-areas: 'logo cats search . info favs cart account';
        grid-column-gap: get-vw(8px);

        background-color: rgba( white, .95 );

        border-radius: get-vw(18px);

        &_logo {
            grid-area: logo;
            width: get-vw(104px);
            height: get-vw(42px);
            padding: 0 get-vw(12px);
            overflow: hidden;

            border-radius: get-vw(12px);

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }

        &_categories {
            grid-area: cats;
            width: max-content;
            height: get-vw(42px);
            padding: 0 get-vw(14px);

            span {
                display: flex;
                align-items: center;
                @include proxima-semibold( get-vw(18px), get-vw(42px) );
            }

            span::before {
                width: get-vw(24px);
                height: get-vw(42px);
                margin-left: get-vw(-6px);
                margin-right: get-vw(6px);

                display: inline-block;
                mask-image: url('~/assets/images/icon_menu.svg');
                mask-size: 100% auto;
                background-color: rgba( $black, 1);
                content: '';
            }

            background-color: #E9E9E9;
            border-radius: get-vw(12px);
        }

        &_search {
            grid-area: search;
            position: relative;

            .search {
                margin-left: get-vw(-8px);
                margin-top: get-vw(-8px);
            }
        }

        &_info {
            grid-area: info;
            width: get-vw(100px);
            height: get-vw(42px);
            padding: 0 get-vw(14px);

            background-color: #E9E9E9;
            border-radius: get-vw(12px);

            span {
                display: flex;
                align-items: center;
                @include proxima-semibold( get-vw(18px), get-vw(42px) );
            }

            span::before {
                width: get-vw(24px);
                height: get-vw(42px);
                margin-left: get-vw(-6px);
                margin-right: get-vw(6px);

                display: inline-block;
                mask-image: url('~/assets/images/icon_info.svg');
                mask-size: 100% auto;
                background-color: rgba( $black, 1);
                content: '';
            }
        }

        & > button {
            box-shadow: 0 0 get-vw(10px) rgba( $black, .1 );

            border-radius: get-vw(12px);
            background-color: rgba($black, .1);
            box-shadow: 0 0 get-vw(10px) rgba($black, .1);

            cursor: pointer;
        }

        &_favourite,
        &_cart {
            width: get-vw(42px);
            height: get-vw(42px);
            
            span { 
                width: 100%;
                height: 100%;
                display: block;

                background-color: rgba($black, .4);
                mask-size: get-vw(24px);
                transition: .3s;
            }
        }

        &_favourite {
            grid-area: favs; 
            span { mask-image: url('~/assets/images/icon_fav.svg'); }
            &:hover span, &.active span{ background-color: #F8512A; }
        }

        &_cart {
            grid-area: cart; 
            span { mask-image: url('~/assets/images/icon_cart.svg'); }
            &:hover span, &.active span{ background-color: #4A8BF7; }
        }
    }
}