@media screen and (max-width: 767px) {
    .product-header {
        width: 100%;
        height: max-content;
        min-height: m-get-vw(42px);

        display: flex;

        background-color: white;
        border-radius: m-get-vw(12px);
        box-shadow: 0 0 m-get-vw(10px) rgba($black, .1);

        &_title {
            flex: 1 0;

            padding: m-get-vw(12px) m-get-vw(10px) m-get-vw(10px) m-get-vw(10px);
            @include proxima-bold(m-get-vw(16px), m-get-vw(20px));
        }

        .product-share { margin: m-get-vw(8px); }
    }
}