@media screen and (min-width: 1024px) {
    .product-header {
        width: 100%;
        height: max-content;
        min-height: get-vw(48px);

        display: flex;

        background-color: white;
        border-radius: get-vw(16px);
        box-shadow: 0 0 get-vw(10px) rgba($black, .1);

        &_title {
            flex: 1 0;

            padding: get-vw(14px) get-vw(12px) get-vw(12px) get-vw(12px);
            @include proxima-bold(get-vw(22px));
        }

        &_share {
            width: max-content;
            height: get-vw(34px);
            padding: 0 get-vw(8px);
            margin: get-vw(7px);

            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: get-vw(20px);
            
            background-color: white;
            box-shadow: 0 0 get-vw(10px) rgba($black, .1);
            border-radius: get-vw(10px);
        
            &_vk,
            &_fb,
            &_fav {
                background-color: rgba($black, .25);
                cursor: pointer;
            }
        
            &_vk { mask-image: url('assets/images/icon_vk.svg'); }
            &_fb { mask-image: url('assets/images/icon_fb.svg'); }
            &_fav { mask-image: url('assets/images/icon_fav.svg'); }
        }

        #modal-close {
            margin-top: get-vw(7px);
            margin-right: get-vw(7px);
        }
    }
}

