@media screen and (min-width: 768px) and (max-width: 1023px) {
    .product-header {
        width: 100%;
        height: max-content;
        min-height: t-get-vw(40px);

        display: flex;

        background-color: white;
        border-radius: t-get-vw(12px);
        box-shadow: 0 0 t-get-vw(10px) rgba($black, .1);

        &_title {
            flex: 1 0;

            padding: t-get-vw(12px) t-get-vw(10px) t-get-vw(10px) t-get-vw(10px);
            @include proxima-bold(t-get-vw(18px), t-get-vw(20px));
        }

        .product-share { margin: t-get-vw(6px); }


        #modal-close {
            margin-top: t-get-vw(6px);
            margin-right: t-get-vw(6px);
        }
    }
}
