//buttons with text

@mixin m-button-small {
    width: max-content;
    min-width: m-get-vw(32px);
    height: m-get-vw(32px);
    position: relative;
    display: block;
    border-radius: m-get-vw(8px);
    border: m-get-vw(1.5px) solid $black;
    background-color: white;
    color: $black;
    cursor: pointer;

    span{ 
        width: 100%;
        height: 100%;
        padding: 0 m-get-vw(12px);
        position: relative; 
        display: block;
        z-index: 1; 
        @include proxima-semibold(m-get-vw(16px), m-get-vw(28px));
    }

    &.active{
        background-color: $black;
        color: white;
    }
}

@mixin m-button-picture( $color, $image, $active_image: false, $size: 'small', $active_color: $color, $hover: false ) {
    span {
        mask-image: url($image);
        
        @if $size == 'small' {
            mask-size: m-get-vw(18px);
        }
        @else if $size == 'big' {
            mask-size: m-get-vw(16px);
        }

        background-color: $color;
    }

    &.active span {
        background-color: white;
        @if $active_image {
            mask-image: url($active_image);
        }
    }
    
    @if $hover == true {
        &:hover {
            span {
               background-color: $active-color; 
            }
        }
    }
}

@mixin m-button-medium ($has-shadow: false){
    width: max-content;
    min-width: m-get-vw(36px);
    height: m-get-vw(36px);
    position: relative;
    display: block;
    border-radius: m-get-vw(12px);
    background-color: white;
    color: $black;
    cursor: pointer;

    @if $has-shadow {
        box-shadow: 0 m-get-vw(1px) m-get-vw(10px) rgba($black, .1);
    }

    span{ 
        width: 100%;
        height: 100%;
        padding: 0 m-get-vw(16px);
        position: relative; 
        display: block;
        z-index: 1; 
        @include proxima-semibold(m-get-vw(14px), m-get-vw(36px));
        text-align: center;
    }

    &.active{
        background-color: $black;
        color: white;
    }
}

@mixin m-button-big ($has-shadow: true){
    width: max-content;
    min-width: m-get-vw(42px);
    height: m-get-vw(42px);
    position: relative;
    display: block;
    border-radius: m-get-vw(12px);
    background-color: white;
    color: $black;
    cursor: pointer;

    @if $has-shadow {
        box-shadow: 0 m-get-vw(1px) m-get-vw(10px) rgba($black, .1);
    }

    span{ 
        width: 100%;
        height: 100%;
        padding: 0 m-get-vw(16px);
        position: relative; 
        display: block;
        z-index: 1; 
        @include proxima-semibold(m-get-vw(14px), m-get-vw(42px));
        text-align: center;
    }

    &.active{
        background-color: $black;
        color: white;
    }
}

@mixin m-checkbox-filter{
    @include m-button-small;
    overflow: hidden;
    color: var(--colorData, $black);
    border-color: var(--colorData, $black);

    input{
        width: 0; height: 0;
        position: absolute;
    }

    span{ transition: padding 0.3s; }

    &::before{
        width: m-get-vw(14px);
        height: m-get-vw(14px);
        top: 0; bottom: 0;
        margin: auto;
        left: m-get-vw(6px);
        position: absolute;
        mask-image: url('assets/images/icon_plus.svg');
        background-color: var(--colorData, $black);
        transition: left 0.3s;
        content: '';
    }

    &::after{
        width: m-get-vw(10px);
        height: m-get-vw(10px);
        top: 0; bottom: 0;
        margin: auto;
        right: m-get-vw(6px);
        position: absolute;
        mask-image: url('assets/images/icon_cross.svg');
        background-color: white;
        transition: right 0.3s;
        content: '';
    }

    &:not(.active) {
        span{
            padding-right: m-get-vw(10px);
            padding-left: m-get-vw(24px);
        }

        &::after{
            right: m-get-vw(-10px);
        }
    }

    &.active {
        background-color: var(--colorData, $black);

        span{
            padding-right: m-get-vw(24px);
            padding-left: m-get-vw(10px);
        }

        &::before{
            left: m-get-vw(-14px);
        }
    }
}