@media screen and (min-width: 1024px) {   
    //PRODUCT SUGGESTED
    .product-item-suggested {
        width: get-vw(258px);
        min-height: get-vw(200px);
        height: 100%;
        max-height: get-vw(344px);
        padding: get-vw(6px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: get-vw(16px);
        box-shadow: 0 0 get-vw(10px) rgba($black, .1);
        overflow: hidden;
        transform: translate3d(0,0,0);

        &_image {
            left: 0; top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        
            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
        }

        &_info {
            padding: get-vw(12px);
            border-radius: get-vw(16px);
            background-color: rgba(white, .9);
            will-change: transform;
            overflow: hidden;
        
            &_name-and-price {
                h2, span { @include proxima-bold(get-vw(16px), get-vw(22px)); }
        
                span {
                    float: right;
                    color: rgba($black, .5);
                }
            }
        
            &_desc {
                margin-top: get-vw(6px);
                @include proxima-regular(get-vw(16px), get-vw(18px));
            }

            /*folded state start*/
            max-height: get-vw(42px);
            transform: translateY(get-vw(60px));

            h2 { 
                white-space: nowrap;
                max-width: get-vw(180px);
                max-height: get-vw(42px); 
                text-overflow: ellipsis;
                overflow: hidden;
                transition: max-height 0.3s;
            }

            /*folded state end*/

            //animation
            transition-property: transform max-height;
            transition: 0.3s;
        }

        &_link {
            width: 100%;
            will-change: transform;
        
            a {
                @include button-big;
                box-shadow: 0 0 get-vw(10px) rgba($black, .1);
                width: 100%;
                margin-top: get-vw(12px);
            }

            /*folded state start*/
            transform: translateY(get-vw(60px));
            /*folded state end*/

            //animation
            transition: transform 0.3s;
        }

        /*unfolded state start*/
        &:hover {
            .product-item-suggested_link,
            .product-item-suggested_info { 
                transform: translateY(0px); 
            }

            .product-item-suggested_info {
                height: max-content;
                max-height: get-vw(300px);

                h2 {
                    white-space: unset;
                    max-width: 100%;
                    height: auto;
                    overflow: unset;
                }
            }
        }
        /*unfolded state end*/
    }
    
    //PRODUCT MINI
    .product-item-mini{
        width: get-vw(336px);
        height: get-vw(448px);
        padding: get-vw(12px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: get-vw(28px);
        box-shadow: 0 0 get-vw(10px) rgba($black, .1);
        overflow: hidden;
        transform: translate3d(0,0,0);

        &_image {
            left: 0; top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        
            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
        }

        &_share {
            height: get-vw(40px);
            padding: 0 get-vw(10px);
            right: get-vw(12px); top: get-vw(12px);
            position: absolute;
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: get-vw(24px);
            
            background-color: white;
            border-radius: get-vw(16px);
        
            &_vk,
            &_fb,
            &_fav {
                background-color: rgba($black, .25);
                cursor: pointer;
            }
        
            &_vk { mask-image: url('~/assets/images/icon_vk.svg'); }
            &_fb { mask-image: url('~/assets/images/icon_fb.svg'); }
            &_fav { mask-image: url('~/assets/images/icon_fav.svg'); }
        }

        &_info {
            padding: get-vw(14px);
            border-radius: get-vw(16px);
            background-color: rgba(white, .9);
            overflow: hidden;
        
            &_name-and-price {
                h2, span { @include proxima-bold(get-vw(22px)); }
        
                span {
                    float: right;
                    color: rgba($black, .5);
                }
            }
        
            &_desc {
                margin-top: get-vw(12px);
                @include proxima-regular(get-vw(16px), get-vw(18px));
            }

            /*folded state start*/
            max-height: get-vw(48px);
            transform: translateY(get-vw(60px));

            h2 { 
                white-space: nowrap;
                max-width: get-vw(200px);
                max-height: get-vw(48px); 
                text-overflow: ellipsis;
                overflow: hidden;
                transition: max-height 0.3s;
            }

            /*folded state end*/

            //animation
            transition-property: transform max-height;
            transition: 0.3s;
        }

        &_link {
            width: 100%;
        
            a {
                @include button-big;
                width: 100%;
                margin-top: get-vw(12px);
            }

            /*folded state start*/
            transform: translateY(get-vw(60px));
            /*folded state end*/

            //animation
            transition: transform 0.3s;
        }

        /*unfolded state start*/
        &:hover {
            .product-item-mini_link,
            .product-item-mini_info { 
                transform: translateY(0px); 
            }

            .product-item-mini_info {
                height: max-content;
                max-height: get-vw(300px);

                h2 {
                    white-space: unset;
                    max-width: 100%;
                    height: auto;
                    overflow: unset;
                }
            }
        }
        /*unfolded state end*/
    }

    //PRODUCT FULL
    .product-item-full {
        width: 100%;
        max-width: get-vw(712px);
        height: max-content;
        min-height: get-vw(516px);
        padding: get-vw(12px);

        // top: get-vw(142px);
        // position: sticky;

        display: grid;
        grid-template-areas: 
        'images info info'
        'images price price'
        'images order share';
        grid-template-rows: 1fr max-content max-content;
        grid-template-columns: max-content 1fr max-content;
        grid-gap: get-vw(16px);

        border-radius: get-vw(22px);
        box-shadow: 0 0 get-vw(10px) rgba($black, .1);

        &_images {
            grid-area: images;

            height: max-content;
            min-width: get-vw(324px);

            top: get-vw(142px);
            position: sticky;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                object-position: center;
                box-shadow: 0 0 get-vw(10px) rgba($black, .1);
            }

            &_selected {
                width: get-vw(324px);
                height: get-vw(432px);
                
                img { border-radius: get-vw(16px); }
            }

            &_preview {
                margin-top: get-vw(4px);

                display: grid;
                grid-auto-flow: column;
                grid-template-rows: get-vw(56px);
                grid-auto-columns: get-vw(56px);
                grid-column-gap: get-vw(4px);
                justify-items: center;
                align-items: center;

                transform: translate(get-vw(-4px), get-vw(4px));

                button {
                    width: get-vw(48px);
                    height: get-vw(48px);

                    border-radius: get-vw(16px);
                    background-color: rgba($black, .1);
                    transition: 0.3s;
                    cursor: pointer;

                    img {
                        border-radius: get-vw(16px);
                    }
                }

                button.active {
                    width: get-vw(56px);
                    height: get-vw(56px);
                    padding: get-vw(4px);
                }
            }
        }

        &_info {
            grid-area: info;
    
            &_name { 
                height: get-vw(44px);
                @include proxima-bold(get-vw(22px));
            }

            &_sku-and-stock {
                @include proxima-semibold(get-vw(16px), get-vw(20px));
                color: rgba($black, .5);

                span:last-child { margin-left: get-vw(20px); }
            }

            &_options {
                transform: translateX(get-vw(-4px));

                &_block_option {
                    margin: get-vw(4px);
                    @include button-small;
                    border-color: var(--colorData, $black);
                    color: var(--colorData, $black);
                }

                &_block_option.active {
                    background-color: var(--colorData, $black);
                }

                &_block {
                    padding: get-vw(4px) 0;

                    position: relative;
                    display: flex;
                    flex-wrap: wrap;

                    &:not(:last-child)::after {
                        margin: 0 get-vw(20px);
                        height: get-vw(1.5px);
                        left: 0; right: 0;
                        bottom: get-vw(-0.75px);

                        position: absolute;
                        background-color: rgba($black, .1);
                        content: '';
                    }

                    &_resize {
                        @include button-small;
                        @include button-picture (#B7B9BA, '~/assets/images/icon_more.svg', '~/assets/images/icon_less.svg');
                        margin: get-vw(4px);
                        border: none;
                        background-color: #E9EAEA;
                        
                        &.active { 
                            background-color: #E9EAEA; 
                            span { background-color: #B7B9BA };
                        }
                    }
                }
            }

            &_description-and-specs {
                margin-top: get-vw(10px);

                p { @include proxima-regular(get-vw(16px), get-vw(18px)) }

                li {
                    display: flex;
                    @include proxima-regular(get-vw(16px), get-vw(20px));

                    hr {
                        margin: 0 get-vw(6px);
                        margin-bottom: get-vw(3px);
                        flex-grow: 1;
                        border-bottom: get-vw(1.5px) dashed rgba($black, .25);
                    }

                    span:last-child {
                        font-weight: 600;
                    }
                }
            }
        }
    
        .product-price {
            grid-area: price;
        }
    
        &_add-to-cart {
            grid-area: order;

            height: max-content;

            button { 
                @include button-big; 
                width: 100%;
                background-color: $black;
                color: white;
            }
        }
    
        &_share {
            grid-area: share;
            align-self: center;

            width: max-content;
            height: get-vw(40px);
            padding: 0 get-vw(10px);
            margin-right: get-vw(4px);
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: get-vw(24px);
            
            background-color: white;
            box-shadow: 0 0 get-vw(10px) rgba($black, .1);
            border-radius: get-vw(16px);
        
            &_vk,
            &_fb,
            &_fav {
                background-color: rgba($black, .25);
                cursor: pointer;
            }
        
            &_vk { mask-image: url('~/assets/images/icon_vk.svg'); }
            &_fb { mask-image: url('~/assets/images/icon_fb.svg'); }
            &_fav { mask-image: url('~/assets/images/icon_fav.svg'); }
        }
    }
}