@media screen and ( min-width: 1024px ) {
    .post-content {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &_text { 
            flex-grow: 1;
            @include proxima-regular( get-vw(16px), get-vw(18px) ); 
        }

        a, button {
            align-self: center;
            margin-top: get-vw(20px);
            @include button-big;
            width: get-vw(256px);
        }
    }
}