@media screen and ( min-width: 768px ) and ( max-width: 1023px ) {
    .product-price {
        width: 100%;
        max-width: t-get-vw(338px);

        display: grid;
        grid-auto-flow: column;
        grid-column-gap: t-get-vw(14px);
        grid-template-columns: minmax( #{ t-get-vw(96px) }, 1fr  ) minmax( t-get-vw(132px), max-content ) max-content;
        justify-items: center;
        align-items: center;

        &_qty {
            width: 100%;
            padding: 0 t-get-vw(10px);

            background-color: rgba( $black, .05 );
            border-radius: t-get-vw(8px);

            input { 
                @include proxima-semibold( t-get-vw(14px), t-get-vw(28px) ); 
                
                ::placeholder { color: rgba( $black, .25 ); }
            }
        }

        &_total { @include proxima-bold( t-get-vw(18px) ); }

        &_single { 
            @include proxima-semibold( t-get-vw(14px) ); 
            color: rgba( $black, .2 );
        }
    } 
}