@media screen and (min-width: 768px) and (max-width: 1023px) {
    .product-gallery {
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
            box-shadow: 0 0 t-get-vw(10px) rgba($black, .1);
        }

        &_selected {
            flex-grow: 1;
            width: 100%;
            min-height: t-get-vw(315px);
            max-width: t-get-vw(355px);
            max-height: t-get-vw(490px);
            
            img { border-radius: t-get-vw(16px); }
        }

        &_preview {
            margin-top: t-get-vw(4px);

            display: grid;
            grid-auto-flow: column;
            grid-template-rows: t-get-vw(48px);
            grid-auto-columns: t-get-vw(48px);
            grid-column-gap: t-get-vw(2px);
            justify-items: center;
            align-items: center;

            transform: translate(t-get-vw(-4px), t-get-vw(4px));

            button {
                width: t-get-vw(40px);
                height: t-get-vw(40px);

                border-radius: t-get-vw(16px);
                background-color: rgba($black, .1);
                transition: 0.3s;
                cursor: pointer;

                img {
                    border-radius: t-get-vw(16px);
                }
            }

            button.active {
                width: t-get-vw(48px);
                height: t-get-vw(48px);
                padding: t-get-vw(4px);
            }
        }
    }
}