@media screen and (max-width: 767px) {
    .product-filters-wrapper {
        align-self: flex-start;
        height: calc( var(--vh, 100vh) - #{ m-get-vw(64px) } );
        margin: 0 m-get-vw(16px);
        margin-top: m-get-vw(64px);

        border-radius: m-get-vw(26px) m-get-vw(26px) 0 0;

        overflow: hidden scroll;

        .product-filters {
            margin-bottom: m-get-vw(64px);
        }
    }

    .product-filters {
        width: 100%;
        min-height: 100%;
        height: max-content;
        padding: m-get-vw(14px);
        background-color: white;
        border-radius: m-get-vw(26px);

        &::before {
            width: 100%;
            height: m-get-vw(20px);

            position: sticky;
            display: block;
            background-color: white;
            border-radius: m-get-vw(26px);
            z-index: 2;
            content: '';
        }

        &::before {
            margin-bottom: m-get-vw(-20px);
            top: 0;
        }

        &::after {
            width: 100%;
            height: m-get-vw(14px);
    
            position: sticky;
            display: block;
    
            background-color: white;
            z-index: 2;
            content: '';
        }
        
        &::after {
            margin-top: m-get-vw(-20px);
            bottom: 0;
        }
    
        &_header { 
            width: 100%;
            height: m-get-vw(42px);
            top: m-get-vw(14px);

            position: sticky;
            
            @include proxima-bold(m-get-vw(18px), m-get-vw(42px));
            text-align: center;

            background-color: white;
            box-shadow: 0 0 m-get-vw(10px) rgba( $black, .1 );
            border-radius: m-get-vw(12px);
            z-index: 3;

            #modal-close {
                width: m-get-vw(24px);
                height: m-get-vw(24px);
                margin-right: 0;
                margin: auto;
                right: m-get-vw(4px);
                top: 0; bottom: 0;

                position: absolute!important;

                z-index: 3;

                box-shadow: unset;
                span { mask-size: 50%; }
            }
        }
    
        &_block {
            margin-top: m-get-vw(32px);
            padding: 0 m-get-vw(7px);
    
            h3 { 
                padding: 0 m-get-vw(4px);
                @include proxima-bold(m-get-vw(18px), m-get-vw(24px));
            }
    
            div {
                display: flex;
                flex-wrap: wrap;
    
                button {
                    @include m-button-small;
                    @include m-button-picture (#B7B9BA, '~/assets/images/icon_more.svg', '~/assets/images/icon_less.svg');
                    margin: m-get-vw(4px);
                    border: none;
                    background-color: #E9EAEA;
                    
                    &.active { background-color: #E9EAEA; }
                }
            }
        }
    }
    
    .checkbox-filter {
        margin: m-get-vw(4px);
        @include m-checkbox-filter;
        background-color: transparent;
    }
    
    .field-filter {
        margin: m-get-vw(3px);
    
        input {
            width: m-get-vw(138px);
            height: m-get-vw(32px);
            padding: 0 m-get-vw(12px);
            border-radius: m-get-vw(8px);
            background-color: rgba($black, .05);
            color: rgba($black, .5);
            @include proxima-semibold(m-get-vw(16px), m-get-vw(32px));
        }
    
        ::placeholder { color: rgba($black, .5); }
    }
    
    .product-filters_controls {
        width: m-get-vw(329px);
        left: m-get-vw(7px);
        right: m-get-vw(7px);
        bottom: m-get-vw(14px);

        margin-top: m-get-vw(32px);
        padding: m-get-vw(7px);

        position: sticky;
        border-radius: m-get-vw(19px);
        background-color: #F5F5F5;
        transform: translate( m-get-vw(-7px), m-get-vw(7px) );
        z-index: 4;
        will-change: transform;
    
        span { 
            padding-left: m-get-vw(12px);
            @include proxima-bold(m-get-vw(18px), m-get-vw(28px));
        }
    
        #filters-reset {
            margin-left: m-get-vw(6px);
            @include proxima-semibold(m-get-vw(12px));
            color: rgba($black, .5);
            text-decoration: underline;

            cursor: pointer;
        }
    
        #filters-apply {
            margin-top: m-get-vw(4px);
            @include m-button-big;
            width: 100%;
            box-shadow: 0 0 m-get-vw(10px) rgba($black, .1);

        }
    }
}