@media screen and (min-width: 768px) and (max-width: 1023px) {
    .product-filters-wrapper {
        grid-area: filters;

        width: t-get-vw(246px);
        height: max-content;
        max-height: calc( var(--vh, 100vh) - #{t-get-vw(72px + 16px)} );
        margin-top: t-get-vw(16px);
        top: t-get-vw(72px);

        position: sticky;

        border-radius: t-get-vw(22px);
        box-shadow: 0 0 t-get-vw(10px) rgba($black, .1);
        will-change: transform;
        z-index: 2;
        overflow: hidden;
    }

    .product-filters {
        width: t-get-vw(246px);
        height: max-content;
        max-height: calc( var(--vh, 100vh) - #{t-get-vw(72px + 16px)} );
        padding: t-get-vw(10px);

        display: flex;
        flex-direction: column;

        background-color: white;
        border-radius: t-get-vw(22px);
        overflow: hidden;

        &_header { 
            width: 100%;
            height: t-get-vw(40px);

            box-shadow: 0 0 t-get-vw(10px) rgba( $black, .1 );
            background-color: white;
            border-radius: t-get-vw(12px);
            z-index: 2;

            h3 {
                @include proxima-bold(t-get-vw(16px), t-get-vw(40px));
                text-align: center;
            }
        }
    
        &_content {
            overflow: hidden auto;

            &::-webkit-scrollbar {
                width: t-get-vw(6px);
                height: max-content;
            }
    
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 t-get-vw(3px) t-get-vw(3px) rgba( $black, .1 );
                border-right: solid t-get-vw(3px) transparent;
            }
    
            
            &::-webkit-scrollbar-thumb {
                box-shadow: inset 0 0 t-get-vw(3px) t-get-vw(3px) rgba( $black, .4 );
                border-right: solid t-get-vw(3px) transparent;
                border-radius: t-get-vw(10px);
            }
        
            & {
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
            }

            .filters_group {
                margin-top: t-get-vw(28px);
                padding: 0 t-get-vw(7px);
        
                h3 { 
                    padding: 0 t-get-vw(3px);
                    @include proxima-bold(t-get-vw(16px), t-get-vw(21px));
                }
        
                div {
                    display: flex;
                    flex-wrap: wrap;
        
                    button {
                        @include t-button-small;
                        @include t-button-picture (#B7B9BA, '~/assets/images/icon_more.svg', '~/assets/images/icon_less.svg');
                        margin: t-get-vw(3px);
                        border: none;
                        background-color: #E9EAEA;
                        
                        &.active { background-color: #E9EAEA; }
                    }
                }
            }
        }
    }
    
    .checkbox-filter {
        margin: t-get-vw(3px);
        @include t-checkbox-filter;
    }
    
    .field-filter {
        margin: t-get-vw(3px);
    
        input {
            width: t-get-vw(90px);
            height: t-get-vw(24px);
            padding: 0 t-get-vw(8px);
            border-radius: t-get-vw(8px);
            background-color: rgba($black, .05);
            color: rgba($black, .5);
            @include proxima-semibold(12px, 24px);
        }
    
        ::placeholder { color: rgba($black, .5); }
    }
    
    .product-filters_controls {
        width: t-get-vw(236px);
        padding: t-get-vw(5px);

        border-radius: t-get-vw(12px);
        background-color: #F5F5F5;
        transform: translate( t-get-vw(-5px), t-get-vw(5px) );

        z-index: 2;

        span { 
            padding-left: t-get-vw(10px);
            @include proxima-bold(t-get-vw(16px));
        }
    
        #filters-reset {
            margin-left: t-get-vw(6px);
            @include proxima-semibold(t-get-vw(12px));
            color: rgba($black, .5);
            text-decoration: underline;

            cursor: pointer;
        }
    
        #filters-apply {
            margin-top: t-get-vw(10px);
            @include t-button-big;
            width: 100%;
        }
    }
}