@media screen and (min-width: 1024px) {
    .product-filters-wrapper {
        grid-area: filters;

        width: get-vw(336px);
        height: max-content;
        max-height: calc( var(--vh, 100vh) - #{get-vw(98px + 40px)} );
        margin-top: get-vw(28px);
        left: get-vw(1544px);
        top: get-vw(98px);

        position: sticky;

        border-radius: get-vw(28px);
        box-shadow: 0 0 get-vw(10px) rgba($black, .1);
        will-change: transform;
        z-index: 2;
        overflow: hidden scroll;

        &::-webkit-scrollbar {
            width: get-vw(6px);
            height: max-content;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 get-vw(3px) get-vw(3px) rgba( $black, .1 );
            border-right: solid get-vw(3px) transparent;
            margin-top: get-vw(82px);
            margin-bottom: get-vw(120px);
            border-radius: get-vw(10px);
            
        }

        
        &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 get-vw(3px) get-vw(3px) rgba( $black, .4 );
            border-right: solid get-vw(3px) transparent;
            border-radius: get-vw(10px);
        }
    
        & {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }

    .product-filters {
        width: get-vw(336px);
        height: max-content;
        padding: get-vw(12px);
        background-color: white;
        border-radius: get-vw(28px);

        &_header { 
            width: 100%;
            height: get-vw(58px);
            top: get-vw(12px);

            position: sticky;

            background-color: white;
            box-shadow: 0 0 get-vw(10px) rgba( $black, .1 );
            border-radius: get-vw(22px);
            z-index: 3;

            h3 {
                @include proxima-bold(get-vw(22px), get-vw(58px));
                text-align: center;    
            }
        }
    
        &_block {
            margin-top: get-vw(28px);
            padding: 0 get-vw(8px);
    
            h3 { 
                padding: 0 get-vw(4px);
                @include proxima-bold(get-vw(22px), get-vw(30px)); 
            }
    
            div {
                display: flex;
                flex-wrap: wrap;
    
                button {
                    @include button-small;
                    @include button-picture (#B7B9BA, '~/assets/images/icon_more.svg', '~/assets/images/icon_less.svg');
                    margin: get-vw(4px);
                    border: none;
                    background-color: #E9EAEA;
                    
                    &.active { background-color: #E9EAEA; }
                }
            }
        }
    }
    
    .checkbox-filter {
        margin: get-vw(4px);
        @include checkbox-filter;
    }
    
    .field-filter {
        margin: get-vw(4px);
    
        input {
            width: get-vw(140px);
            height: get-vw(32px);
            padding: 0 get-vw(12px);
            border-radius: get-vw(8px);
            background-color: rgba($black, .05);
            color: rgba($black, .5);
            @include proxima-semibold(get-vw(16px), get-vw(32px));
        }
    
        ::placeholder { color: rgba($black, .5); }
    }
    
    .product-filters_controls {
        width: get-vw(324px);
        padding: get-vw(6px);
        margin-top: get-vw(28px);
        bottom: get-vw(13px);

        position: sticky;

        background-color:  #F5F5F5;
        border-radius: get-vw(22px);
        transform: translate( get-vw(-6px), get-vw(6px) );
        z-index: 100;
    
        span { 
            padding-left: get-vw(12px);
            @include proxima-bold(get-vw(22px)); 
        }
    
        #filters-reset {
            margin-left: get-vw(6px);
            @include proxima-semibold(get-vw(16px));
            color: rgba($black, .5);
            text-decoration: underline;

            cursor: pointer;
        }
    
        #filters-apply {
            margin-top: get-vw(10px);
            @include button-big;
            width: 100%;
            background-color: white;
        }
    }
}