@media screen and (max-width: 767.5px) {
    .favourite-product {
        width: m-get-vw(294px);
        height: max-content;
        padding: m-get-vw(14px);

        background-color: white;
        border-radius: m-get-vw(26px);

        .product-header {
            top: m-get-vw(13px);
            position: sticky;
            z-index: 2;
            will-change: transform;

            &_title {
                padding-left: m-get-vw(42px);
            }

            &_close {
                @include m-button-small;
                @include m-button-picture(
                    $color: rgba( $black, .4 ),
                    $image: '~/assets/images/icon_arrow.svg',
                    $size: m-get-vw(12px)
                );

                width: m-get-vw(26px);
                min-width: unset;
                height: m-get-vw(26px);
                left: m-get-vw(8px);
                top: m-get-vw(8px);

                position: absolute;

                border: none;
            }
        }

        .product-gallery {
            margin-top: m-get-vw(14px);
        }

        .product-options-wrapper {
            margin-top: m-get-vw(14px);
            h3 { display: none; }
        }

        .product-details {
            margin-top: m-get-vw(14px);
        }

        .product-purchase-wrapper {
            margin-top: m-get-vw(6px);
            width: m-get-vw(280px);
            padding: m-get-vw(6px);
            bottom: m-get-vw(13px);

            position: sticky;
            display: grid;
            grid-row-gap: m-get-vw(6px);

            background-color: white;
            transform: translate( m-get-vw(-7px), m-get-vw(7px) );
            border-radius: m-get-vw(19px);
            box-shadow: 0 0 m-get-vw(10px) rgba( $black, .1 );
            z-index: 3;
        }
    }
}