@media screen and ( max-width: 767px ) {
    .product-add-to-cart {
        width: 100%;
        max-width: m-get-vw(315px);

        button {
            @include m-button-big;
            width: 100%;

            background-color: $black;
            color: white;
        }
    }
}