@media screen and ( min-width: 768px ) and ( max-width: 1023px ) {
    .categories-block {
        width: t-get-vw(262px);
        padding: t-get-vw(12px);

        background-color: white;
        border-radius: t-get-vw(18px);
        border: t-get-vw(1px) rgba( $black, .1 ) solid;

        h3 {
            @include t-button-big;
            width: 100%;
            span { 
                font-weight: 700; 
                text-align: left;
            }
        }

        ul {
            margin-top: t-get-vw(8px);

            display: grid;
            grid-auto-rows: max-content;

            li { 
                @include t-button-big;
                width: 100%;

                box-shadow: 0 0 0 rgba( $black, 0);

                cursor: pointer;
                span { text-align: left; }

                &::before {
                    width: t-get-vw(8px);
                    height: t-get-vw(8px);
                    right: t-get-vw(8px);
                    top: 0; bottom: 0;
                    margin: auto;
                    position: absolute;
            
                    mask-image: url('assets/images/slider_arrow.svg');
                    transform: scaleX(-1);
                    background-color: $black;
                    opacity: 0;

                    content: '';
                }
            }

            
            li.active,
            li:hover { 
                position: relative;

                background-color: rgba( $black, .1 );
                box-shadow: 0 0 t-get-vw(10px) rgba( $black, .1);
                color: $black;

                &::before { opacity: 1; }
            }
        }

        ul:hover {
            li:not( :hover ) {
                background-color: rgba( $black, 0);
                box-shadow: 0 0 0 rgba( $black, 0)!important;
                &::before { opacity: 0; }
            }
        }
    }
}