@media screen and (min-width: 768px) and (max-width: 1023px) {
    .product-grid {
        grid-area: grid;

        width: 100%;
        padding: 
        t-get-vw(12px) t-get-vw(24px)
        t-get-vw(24px) t-get-vw(24px);

        display: grid;
        grid-auto-rows: max-content;
        grid-gap: t-get-vw(24px);

        &-mini { grid-template-columns: repeat(2, 1fr); }
        &-full { grid-template-columns: 1fr; }

        &-mini .loading {
            grid-column: span 4; 
            height: t-get-vw(300px);
            position: relative;
        }
        &-full .loading {
            grid-column: span 2; 
            height: t-get-vw(440px);
            position: relative;
        }
    }
}