@media screen and (min-width: 1024px) {   
    //PRODUCT SUGGESTED
    .product-item-suggested {
        width: get-vw(258px);
        min-height: get-vw(200px);
        height: 100%;
        max-height: get-vw(344px);
        padding: get-vw(6px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: get-vw(16px);
        border: get-vw(1px) solid rgba($black, .1);
        //box-shadow: 0 0 get-vw(10px) rgba($black, .1);
        overflow: hidden;
        transform: translate3d(0,0,0);

        &_image {
            left: 0; top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        
            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
        }

        &_info {
            padding: get-vw(12px);
            border-radius: get-vw(16px);
            background-color: rgba(white, .9);
            will-change: transform;
            overflow: hidden;
        
            &_name-and-price {
                h2, span { @include proxima-bold(get-vw(16px), get-vw(22px)); }
        
                span {
                    float: right;
                    color: rgba($black, .5);
                }
            }
        
            &_desc {
                margin-top: get-vw(6px);
                @include proxima-regular(get-vw(16px), get-vw(18px));
            }

            /*folded state start*/
            max-height: get-vw(42px);
            transform: translateY(get-vw(60px));

            h2 { 
                white-space: nowrap;
                max-width: get-vw(180px);
                max-height: get-vw(42px); 
                text-overflow: ellipsis;
                overflow: hidden;
                transition: max-height 0.3s;
            }

            /*folded state end*/

            //animation
            transition-property: transform max-height;
            transition: 0.3s;
        }

        &_link {
            width: 100%;
            will-change: transform;
        
            a {
                @include button-big;
                box-shadow: 0 0 get-vw(10px) rgba($black, .1);
                width: 100%;
                margin-top: get-vw(12px);
            }

            /*folded state start*/
            transform: translateY(get-vw(60px));
            /*folded state end*/

            //animation
            transition: transform 0.3s;
        }

        /*unfolded state start*/
        &:hover {
            .product-item-suggested_link,
            .product-item-suggested_info { 
                transform: translateY(0px); 
            }

            .product-item-suggested_info {
                height: max-content;
                max-height: get-vw(300px);

                h2 {
                    white-space: unset;
                    max-width: 100%;
                    height: auto;
                    overflow: unset;
                }
            }
        }
        /*unfolded state end*/
    }
    
    //PRODUCT MINI
    .product-item-mini{
        width: get-vw(336px);
        height: get-vw(448px);
        padding: get-vw(12px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: get-vw(28px);
        box-shadow: 0 0 get-vw(10px) rgba($black, .1);
        overflow: hidden;
        transform: translate3d(0,0,0);

        &_image {
            left: 0; top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        
            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
        }

        &_share {
            height: get-vw(40px);
            padding: 0 get-vw(10px);
            right: get-vw(12px); top: get-vw(12px);
            position: absolute;
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: get-vw(24px);
            
            background-color: white;
            border-radius: get-vw(16px);
        
            &_vk,
            &_fb,
            &_fav {
                background-color: rgba($black, .25);
                cursor: pointer;
            }
        
            &_vk { mask-image: url('assets/images/icon_vk.svg'); }
            &_fb { mask-image: url('assets/images/icon_fb.svg'); }
            &_fav { mask-image: url('assets/images/icon_fav.svg'); }
        }

        &_info {
            padding: get-vw(14px);
            border-radius: get-vw(16px);
            background-color: rgba(white, .9);
            overflow: hidden;
        
            &_name-and-price {
                h2, span { @include proxima-bold(get-vw(22px)); }
        
                span {
                    float: right;
                    color: rgba($black, .5);
                }
            }
        
            &_desc {
                margin-top: get-vw(12px);
                @include proxima-regular(get-vw(16px), get-vw(18px));
            }

            /*folded state start*/
            max-height: get-vw(48px);
            transform: translateY(get-vw(60px));

            h2 { 
                white-space: nowrap;
                max-width: get-vw(200px);
                max-height: get-vw(48px); 
                text-overflow: ellipsis;
                overflow: hidden;
                transition: max-height 0.3s;
            }

            /*folded state end*/

            //animation
            transition-property: transform max-height;
            transition: 0.3s;
        }

        &_link {
            width: 100%;
        
            a {
                @include button-big;
                width: 100%;
                margin-top: get-vw(12px);
            }

            /*folded state start*/
            transform: translateY(get-vw(60px));
            /*folded state end*/

            //animation
            transition: transform 0.3s;
        }

        /*unfolded state start*/
        &:hover {
            .product-item-mini_link,
            .product-item-mini_info { 
                transform: translateY(0px); 
            }

            .product-item-mini_info {
                height: max-content;
                max-height: get-vw(300px);

                h2 {
                    white-space: unset;
                    max-width: 100%;
                    height: auto;
                    overflow: unset;
                }
            }
        }
        /*unfolded state end*/
    }

    //PRODUCT FULL
    .product-item-full {
        width: 100%;
        max-width: get-vw(712px);
        height: max-content;
        min-height: get-vw(516px);
        padding: get-vw(12px);

        border-radius: get-vw(28px);
        box-shadow: 0 0 get-vw(10px) rgba($black, .1);

        display: grid;
        grid-template-areas: 
        'gallery name name'
        'gallery options options'
        'gallery details details'
        'gallery price price'
        'gallery add2cart share';
        grid-template-rows: max-content max-content 1fr max-content max-content;
        grid-template-columns: get-vw(324px) get-vw(232px) 1fr;
        grid-column-gap: get-vw(16px);

        .product-gallery { grid-area: gallery; }
        .product-name { 
            grid-area: name; 
            padding-top: get-vw(4px);
            @include proxima-bold( get-vw(22px) );
        }
        .product-options { 
            margin-top: get-vw(10px);
            grid-area: options; 
        }
        .product-details { 
            margin-top: get-vw(10px);
            grid-area: details; 
        }
        .product-price { 
            margin-top: get-vw(10px);
            grid-area: price; 
        }
        .product-add-to-cart { 
            margin-top: get-vw(16px);
            width: get-vw(232px);
            grid-area: add2cart; 
        }
        .product-share { 
            margin-top: get-vw(16px);
            grid-area: share; 
        }
    
        .product-share {
            grid-area: share;
            align-self: center;

            width: get-vw(92px);
            height: get-vw(40px);
            padding: 0 get-vw(10px);
            margin-right: get-vw(4px);
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: get-vw(24px);
            justify-content: space-between;
            
            background-color: white;
            box-shadow: 0 0 get-vw(10px) rgba($black, .1);
            border-radius: get-vw(16px);
        
            &_vk,
            &_fb,
            &_fav {
                background-color: rgba($black, .25);
                cursor: pointer;
            }
        
            &_vk { mask-image: url('assets/images/icon_vk.svg'); }
            &_fb { mask-image: url('assets/images/icon_fb.svg'); }
            &_fav { mask-image: url('assets/images/icon_fav.svg'); }
        }
    }
}