@import 'assets/scss/variables.scss';
@import 'assets/scss/functions.scss';
@import 'assets/scss/buttons.scss';

#modal {
    width: 100vw;
    height: 100vh;
    left: 0; top: 0;

    position: fixed;

    background-color: rgba( $black, .95 );
    will-change: background-color;
    overflow: hidden auto;
    z-index: 10;
    transform: translate3d(0,0,0);

    --uiColorModal: white;
    transition: 200ms;
}

#modal-content {
    transition: 200ms;
    will-change: transform;
}

#modal-close {
    margin-top: get-vw(7px);
    margin-right: get-vw(7px);

    @include button-small;
    @include button-picture( rgba($black, .5), 'assets/images/icon_cross.svg' );
    width: get-vw(34px);
    height: get-vw(34px);

    border: none;
    background-color: white;
    box-shadow: 0 0 get-vw(10px) rgba( $black, .1 );
}