@media screen and (max-width: 1000px) {
    body { overflow: hidden; }

    .modal-wrapper {
        width: 100vw;
        height: var(--vh, 100vh);
        background-color: rgba(black, .5);
        backdrop-filter: blur(8px);
        overflow: hidden;
        position: unset;
    }

    .modal-container {
        height: calc(var(--vh, 100vh) - #{m-get-vw(76px)});
        top: m-get-vw(76px);
        left: 0; right: 0;
        margin: 0 m-get-vw(16px);
        border-radius: m-get-vw(26px) m-get-vw(26px) 0 0;
        overflow: auto;
        overflow-y: overlay;
        -webkit-overflow-scrolling: touch;
        transform: translate3d(0,0,0);    
    }

    .modal-header {
        position: sticky;
        top: m-get-vw(14px);
        left: 0; right: 0;
        margin: m-get-vw(14px);
        margin-bottom: m-get-vw(-70px);
        border-radius: m-get-vw(12px);
        z-index: 2;
        will-change: transform;
        //
        background-color: white;

        h2 { 
            width: 100%;
            text-align: center;
            @include proxima-bold(m-get-vw(18px), m-get-vw(42px)) 
        }

        #modal-close { 
            top: 0; bottom: 0;
            right: m-get-vw(5px);
            margin: auto;
            position: absolute!important;
            @include m-button-small; 
            @include m-button-picture(black, 'assets/images/icon_cross.svg');
            border: none;
            background-color: #E9EAEA;
            
            &.active { background-color: #E9EAEA; }
        }
    }

    .modal-content {
        margin-bottom: m-get-vw(76px);
        padding-top: m-get-vw(70px);
        border-radius: m-get-vw(26px);
        background-color: rgba(white, .5);
        backdrop-filter: blur(8px);
        will-change: transform;
    }
}