@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

@font-face {
    font-family: "Proxima Nova";
    font-weight: 700;
    src: url('assets/fonts/proxima-b.woff') format('woff');
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 600;
    src: url('assets/fonts/proxima-sb.woff') format('woff');
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 400;
    src: url('assets/fonts/proxima-r.woff') format('woff');
}

body { 
    width: 100vw;
    background-color: white; 
    color: $blue;
    overflow-x: hidden;
    position: relative;

    font-family: 'Helvetica';
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    background-color: unset;
    list-style: none;
    //
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    //
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: inherit;
}

#overlay {
    width: 100vw;
    height: var(--vh, 100vh);
    top: 0;

    position: fixed;

    pointer-events: none;
    z-index: 10;
    transition: .3s;

    &.visible { background-color: rgba( $blue, .95 ); }
}