@import '~/assets/scss/variables';
@import '~/assets/scss/functions';
@import '~/assets/scss/fonts';

body { 
    width: 100vw;
    background-color: white; 
    color: $black;
    overflow-x: hidden;
    position: relative;

    font-family: 'Helvetica';
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    background-color: unset;
    list-style: none;
    //
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    //
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: inherit;
}

#overlay {
    width: 100vw;
    height: var(--vh, 100vh);
    top: 0;

    position: fixed;

    pointer-events: none;
    z-index: 10;
    transition: .3s;

    &.visible { background-color: rgba( $black, .95 ); }
}

main {
    width: 100vw;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: get-vw(6px);
    background: rgba( $black, .2);
}

::-webkit-scrollbar-thumb {
    background: rgba( $black, .7 );
    -webkit-border-radius: 1vw;
    -webkit-box-shadow: 0px 1px 2px rgba($black, 0.1);
}

::-webkit-scrollbar-corner {
    background: $black;
}