@media screen and (min-width: 768px) and (max-width: 1023.5px) {
    .favourite {
        padding: t-get-vw(70px) t-get-vw(12px);
        padding-bottom: 0;
        height: var(--vh, 100vh);

        display: grid;
        grid-template-areas: 'product list';
        grid-template-columns: 1fr max-content;
        grid-template-rows: 100%;
        justify-content: flex-end;
        grid-column-gap: t-get-vw(12px);
    }

    .favourite-list-wrapper {
        grid-area: list;
        height: max-content;
        max-height: 100%;
        overflow: hidden auto;
        @include hide-scrollbar;
        border-radius: t-get-vw(18px) t-get-vw(18px) 0 0;

        .favourite-list {
            margin-bottom: t-get-vw(12px);
            height: max-content;
            max-height: 100%;
        }
    }

    .favourite-product-wrapper {
        grid-area: product;
        height: max-content;
        max-height: 100%;
        overflow: hidden auto;
        @include hide-scrollbar;
        border-radius: t-get-vw(18px) t-get-vw(18px) 0 0;

        .favourite-product {
            margin-bottom: t-get-vw(12px);
            height: max-content;
            max-height: 100%;
        }
    }
}